page-recipes {
  .r-title {
    font-size: 10pt;
    font-weight: bold;
    color: black;
    padding:5px;
  }

  .r-details {
    font-size: 8pt;
  }


  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 130px;
    //border:1px solid black;
    //overflow: hidden;

    .scroll-item {
      font-size:8pt;
      width:120px;
      height:120px;
      margin:5px;
      border:0px solid blue;
      display: inline-block;
    }
  }

}
