
<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid  *ngIf="hits!=null">
    <ion-row>
      <ion-col col-4 text-center>
        <button *ngIf="view=='grid'" ion-button icon-only>
          <ion-icon large name="grid-outline"></ion-icon>
        </button>
        <button *ngIf="view!='grid'" clear ion-button clear icon-only (click)="view='grid'">
          <ion-icon large name="grid-outline"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4 text-center>
        <button *ngIf="view=='images'" ion-button icon-only>
          <ion-icon large name="image-outline"></ion-icon>
        </button>
        <button *ngIf="view!='images'" clear ion-button clear icon-only (click)="view='images'">
          <ion-icon large name="image-outline"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4 text-center>
        <button *ngIf="view=='list'" ion-button icon-only>
          <ion-icon large name="list-outline"></ion-icon>
        </button>
        <button *ngIf="view!='list'" clear ion-button clear icon-only (click)="view='list'">
          <ion-icon large name="list-outline"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>


    <ion-searchbar
      [(ngModel)]="searchTerm"
      (search)="doRecipeSearch($event)"
      (ionClear)="searchCleared()"
      placeholder="{{placeholderText}}">
    </ion-searchbar>


  <div *ngIf="hits!=null && view=='grid'">
    <ion-row>
      <ion-col col-4 *ngFor="let h of hits" (click)="navigateToRecipe(h.recipe)" align-items-start>
        <img [src]="h.recipe.image">
      </ion-col>
    </ion-row>
  </div>


  <div *ngIf="hits!=null && view=='images'">
    <ion-grid>
      <ion-row *ngFor="let h of hits" (click)="navigateToRecipe(h.recipe)" align-items-start>
        <ion-col col-12>
          <ion-row align-items-start>
            <ion-col>
              <span class="r-title">{{h.recipe.label}}</span>
              <br/>
              <span class="r-details">Source: {{h.recipe.source}}</span>
            </ion-col>
          </ion-row>
          <ion-row align-items-start>
            <ion-col>
              <img [src]="h.recipe.image">
            </ion-col>
          </ion-row>
          <ion-row align-items-start>
            <ion-col class="r-details">
              <span [innerHtml]="getDetails(h.recipe)"></span><br/>
              <span [innerHtml]="h.recipe.healthLabels"></span><br/>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf="hits!=null && view=='list'">
      <ion-row *ngFor="let h of hits" (click)="navigateToRecipe(h.recipe)" align-items-start>
        <ion-col col-3>
          <img style='padding:5px;' [src]="h.recipe.image">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col class="r-title">
              {{h.recipe.label}}
              <br/>
              <span class="r-details">Source: {{h.recipe.source}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="r-details">
              <li><span [innerHtml]="getDetails(h.recipe)"></span><br/>
              <li><span [innerHtml]="h.recipe.healthLabels"></span><br/>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  </div>


</ion-content>
