
<ion-header (click)="content.scrollTo(0,0);">
  <ion-navbar>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      autocorrect="on"
      type="search"
      spellcheck="true"
      (search)="doRecipeSearch($event)"
      placeholder="{{placeholderText}}">
    </ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="doRecipeSearch(null)">
        <ion-icon large name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


  <ion-grid *ngIf="recommendations!=null">
    <ion-row *ngFor="let g of recommendations.items" align-items-start>
      <ion-col *ngIf="g.recipes!=null">
        <span class="r-title" (click)="startSearch(g.keywords)">{{g.title}}</span>

        <ion-row>
          <ion-col>
            <ion-scroll scrollX="true">
              <ion-row nowrap>
                <ion-col *ngFor="let r of g.recipes" text-wrap nomargin col-5 (click)="startSearch(g.keywords)" class="scroll-item">
                  <img [src]="r.image">

                  <br/>
                  <span class="r-label">
                    {{r.label}}
                  </span>

                  <!--
                    <ion-row>
                      <ion-col>
                        <img [src]="r.image">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="r-label" text-wrap>
                        {{r.label}}
                      </ion-col>
                    </ion-row>
                  -->
                </ion-col>
              </ion-row>
            </ion-scroll>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--
  <div *ngIf="recommendations!=null">
    <ion-grid>
      <ion-row *ngFor="let g of recommendations.items" align-items-start>
        <ion-col *ngIf="g.recipes!=null">
          <span class="r-title" (click)="startSearch(g.keywords)">{{g.title}}</span>
            <ion-row nowrap>
              <ion-col nowrap>
                <ion-scroll scrollX="true">
                  <img *ngFor="let r of g.recipes"
                    (click)="navigateToRecipe(r)"
                    [alt]="r.image"
                    class="scroll-item" [src]="r.image">
                </ion-scroll>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
-->

</ion-content>
