
<!--
<ion-header>
  <ion-navbar>
    <ion-title>Food</ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-content>
  <!--<button  *ngIf="locations==null" ion-button (click)="initialize()">Start</button>
-->
    <ion-card (click)='addressCardClicked($event)'>
      <ion-card-content>
        {{currentLocation.address}}
      </ion-card-content>
    </ion-card>


    <ion-searchbar *ngIf="locations!=null"
      [(ngModel)]="searchTerm"
      (search)="doLocationMenuSearch($event)"
      (ionClear)="searchCleared()"
      placeholder="{{placeholderText}}">
    </ion-searchbar>

    <div *ngIf="this.results!=null">
      <food-list *ngFor="let r of results" [menu]="r"></food-list>
    </div>
</ion-content>
