
<ion-header>

  <ion-toolbar>
    <ion-card (click)='addressCardClicked($event)'>
      <ion-card-content text-nowrap>
        {{currentLocation.address}}
      </ion-card-content>
    </ion-card>

    <ion-buttons end>
      <button ion-button icon-only (click)="editUserProfile()">
        <ion-icon large name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

    <ion-grid>
      <ion-row>

        <ion-col col-3 text-center>
          <button *ngIf="view=='recommendations'" ion-button icon-only clear color="primary">
            <ion-icon large name="checkmark-circle-outline"></ion-icon>
          </button>
          <button *ngIf="view!='recommendations'" clear ion-button clear color="dark" icon-only (click)="view='recommendations'">
            <ion-icon large name="checkmark-circle-outline"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-3 text-center>
          <button *ngIf="view=='food'" ion-button icon-only clear color="primary">
            <ion-icon large name="leaf-outline"></ion-icon>
          </button>
          <button *ngIf="view!='food'" clear ion-button clear color="dark" icon-only (click)="view='food'">
            <ion-icon large name="leaf-outline"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-3 text-center>
          <button *ngIf="view=='list'" ion-button icon-only clear color="primary">
            <ion-icon large name="list-outline"></ion-icon>
          </button>
          <button *ngIf="view!='list'" clear ion-button clear color="dark" icon-only (click)="view='list'">
            <ion-icon large name="list-outline"></ion-icon>
          </button>
        </ion-col>


        <ion-col col-3 text-center>
          <button *ngIf="view=='search'" ion-button clear icon-only color="primary">
            <ion-icon large name="search-outline"></ion-icon>
          </button>
          <button *ngIf="view!='search'" clear ion-button color="dark" icon-only (click)="view='search'">
            <ion-icon large name="search-outline"></ion-icon>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-header>

<ion-content>


    <div *ngIf="view=='search'">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (search)="doLocationMenuSearch($event)"
        (ionClear)="searchCleared()"
        placeholder="{{placeholderText}}">
      </ion-searchbar>

      <food-list
        *ngFor="let r of results"
        [profile]="profile"
        [menu]="r">
      </food-list>

      <p style="padding:10px;" *ngIf="results==null">
        Type in a search query (e.g., "Gluten Free") and we will find all
          dishes near you that are Gluten Free.
      </p>

    </div>



    <recommended-location
      *ngIf="recommendations!=null && view=='recommendations'"
      [recommendations]="recommendations">
    </recommended-location>

    <div *ngIf="view=='food'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-scroll scrollX="true">
              <button *ngFor="let f of profile.foodFilters.items" text-wrap (click)="setFoodFilter(f)"
                class="scroll-item" ion-button [color]="f.selected ? 'primary' : 'light'">
                {{f.title}}
              </button>
            </ion-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>

      <recommended-food
        *ngIf="recommendations!=null"
        [recommendations]="this.recommendations">
      </recommended-food>
    </div>


    <location-list
      *ngIf="this.locations!=null && view=='list'"
      title="Locations around you"
      [locations]="locations">
    </location-list>


</ion-content>
