page-profile {
  .item-name {
    font-size: 12pt;
    color:black;
    width: 100%;
    background: white;
    //padding: 0px;
    margin: 0px;
  }

  .item-analysis {
    font-family: monospace;
  }
  
  button {
    font-size:10pt;
  }
}
