
<ion-header>

  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveProfile()">
        <ion-icon large name="checkmark-circle-outline"></ion-icon>
      </button>

      <button ion-button icon-only (click)="cancelEdit()">
        <ion-icon large name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="profile!=null">
    <ion-row>
      <ion-col>
        <h4>Allergies</h4>

        <ion-list no-lines>
          <ion-item class='item-name' *ngFor="let a of profile.allergies.Items">
            <ion-label>{{a.key}}</ion-label>
            <ion-checkbox [(ngModel)]="a.value"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <h4>Preferences</h4>
        <ion-list no-lines reorder="true" (ionItemReorder)="reorderItems($event)">
            <ion-item class='item-name' *ngFor="let c of profile.cuisine.Items">
              {{c.key}}
            </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>

  </div>




</ion-content>
