page-profile {

  font-family: 'Roboto','sans-serif';

  .header {
    font-size:11pt;
    margin:0px;
    padding:0px;
  }

  ion-row {
    margin:0px;
    padding:0px;
  }

  ion-col {
    margin:0px;
    padding:0px;
  }

  .item-name {
    font-size: 11pt;
  }

  .item-analysis {
    font-family: monospace;
  }


  ion-range {
    height:30px;
  }


  button {
    font-size:10pt;
  }
}
