<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon large name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{recipe.label}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="navigateToRecipe(recipe)">
          <img src="{{recipe.image}}">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button icon-only clear (click)="navigateToRecipe(recipe)">
          <ion-icon large name="share-outline"></ion-icon>
        </button>

        <button ion-button icon-only clear (click)="favoriteToggle(recipe)">
          <ion-icon *ngIf="!isFavorite" large name="heart-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite" large name="heart"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row align-items-start>
      <ion-col>
        <li><b>Source:</b> {{recipe.source}}
        <li><b>Serves:</b> {{recipe.yield}}
        <li><b>Cooking time:</b> {{recipe.totalTime}} m
        <li><b>Total weight:</b> {{floor(recipe.totalWeight)}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <b>Ingredients</b>

          <li *ngFor="let i of recipe.ingredientLines">{{i}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <b>Health Labels</b>

        <li *ngFor="let h of recipe.healthLabels">{{h}}
        <li *ngFor="let d of recipe.dietLabels">{{d}}
      </ion-col>

      <ion-col >
        <span *ngIf="recipe.cautions!=null && recipe.cautions.length>0"><b>Cautions</b></span>

        <li *ngFor="let h of recipe.cautions">{{h}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <b>Digestion</b>

        <li *ngFor="let d of recipe.digest">{{d.label}}: {{floor(d.total)}} {{d.unit}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <b>Total Nutrients</b>

        <li *ngFor="let d of getObjectArray(recipe.totalNutrients)">{{d.label}}: {{floor(d.quantity)}} {{d.unit}}
      </ion-col>

      <ion-col>
        <b>Total Daily</b>

        <li *ngFor="let d of getObjectArray(recipe.totalDaily)">{{d.label}}: {{floor(d.quantity)}}{{d.unit}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
