

<ion-content>
  <ion-fab bottom left *ngIf="locations!=null" #fab>
   <button ion-fab color="dark">
     {{locations.length}}
     <ion-icon large name="arrow-forward"></ion-icon>
   </button>

   <ion-fab-list side="right">
     <button ion-fab icon-only color="dark" (click)="fabActionButtonClicked(fab, 'refresh')">
       <ion-icon large name="refresh"></ion-icon>
     </button>
     <button ion-fab icon-only color="dark" (click)="fabActionButtonClicked(fab, 'locate')">
       <ion-icon large name="navigate"></ion-icon>
     </button>
     <button ion-fab icon-only color="dark" (click)="fabActionButtonClicked(fab, 'restaurant')">
       <ion-icon large name="restaurant"></ion-icon>
     </button>
   </ion-fab-list>
 </ion-fab>

  <ion-card *ngIf="currentLocation!=null" text-nowrap class="floating-address-panel" (click)="addressCardClicked();">
    {{currentLocation.address}}
  </ion-card>

  <ion-scroll scrollX="true" zoom="false" class="filter-panel">
    <ion-grid *ngIf="profile!=null && locations!=null">
      <ion-row nowrap>
        <ion-col nowrap>
            <button *ngFor="let f of profile.foodFilters.items" text-wrap (click)="setFoodFilter(f)"
              class="filter-button" ion-button [color]="f.selected ? 'primary' : 'light'">
              {{f.title}}
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>

  <ion-scroll class="film-strip"  scrollX="true" #filmStrip id="filmStrip">
    <ion-grid *ngIf="locations!=null">
      <ion-row nowrap>
        <ion-col col-11 text-left no-padding *ngFor="let loc of locations">
            <ion-card class="location-card" (click)="navigateToLocationMenu(loc)" [id]="loc.id">
              <ion-grid>
                <ion-row nowrap>
                  <ion-col col-5>
                    <img style="width:100%;height:100%;" [src]="loc.logoUrl">
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col text-wrap>
                        <span class="loc-title">{{loc.name}}</span><br>
                        <span class="loc-details" *ngIf="loc.foodTypes!=null">{{concatStrArray(loc.foodTypes)}}</span>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="loc-details" text-wrap>
                        <p *ngIf="loc.description!=null" [innerHtml]="loc.description"></p>
                        {{loc.street}}, {{loc.city}} ({{formatDistance(loc.distance)}})
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="loc.menuSummary!=null">
                  <ion-col>
                    {{loc.menuSummary.count}} of {{loc.menuSummary.totalCount}} available
                  </ion-col>
                </ion-row>
              
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-scroll>

  <div #map id="map"></div>

</ion-content>
