page-home {
  .film-strip {
    position: absolute;
    top: 350px;
    width:100%;
    z-index: 15;
    font-family: 'Roboto','sans-serif';
    //border:2px solid red;
    height:180px;
  }

  .filter-panel {
    white-space: nowrap;
    height: 60px;

    top: 60px;
    left:0px;
    position: absolute;
    z-index: 2;
    width:100%;
    font-family: 'Roboto','sans-serif';
    //background-color:white;
    //opacity: 0.8;

  }

  .filter-button {
      display: inline-block;
      font-size:8pt;
      width:70px;
      height:30px;
      //background-color:white;
      font-family: 'Roboto','sans-serif';
      margin-left:2px !important;
      margin-right:2px !important;
      ion-card-content{
          padding: 0 !important;
      }
  }

  .location-card {
    font-family: 'Roboto','sans-serif';
    height:100%;
    width: 100%;
    width: 95% !important;
    display: inline-block;

    margin-left:0 !important;
    margin-right:0 !important;
    ion-card-content{
        padding: 0 !important;
    }
    //width:220px;
    //padding:4px;
    //font-weight:bold;
  }

  .loc-title {
    font-size: 11pt;
    font-weight: bold;
    color: black;
    background-color: primary;
  }

  .loc-details {
    font-size: 8pt;
  }



  .floating-address-panel {
      position: absolute;
      top: 15px;
      left:0px;
      //left: 0px;
      width:94%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      //border: 0px solid #999;
      //text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      //padding-left: 10px;
    }

    #map {
      height: 100%;
    }


      ion-scroll {
          //min-height: 160px;
          height: auto;
          padding:0px;
          margin:0px;
          .scroll-content {
                margin:0px !important;
              padding: 0px !important;
          }
      }
}
