
<ion-card>
  <ion-card-header (click)="navigateToLocationMenu()">
    <ion-row>
      <ion-col col-3>
        <img style='padding:5px;' [src]="menu.location.logoUrl">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col class="loc-title">
            {{menu.location.name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="loc-details">
            <p *ngIf="menu.location.description!=null" [innerHtml]="menu.location.description"></p>
            {{menu.location.street}}, {{menu.location.city}}<br/>
            {{formatDistance(menu.location.distance)}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content>

    <!-- collapsed view -->
    <div *ngIf="!expandedView">
      <ion-row *ngFor="let m of topHits" align-items-start>
        <ion-col col-2>
          <img [src]="m.photoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="item-name" text-wrap>{{m.name}}</p>
              <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
              <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
              <p *ngIf="m.avoid!=null && m.avoid" class="item-detail">Avoid: {{m.avoidReason}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <!-- Expanded View -->
    <div *ngIf="expandedView">
      <div *ngFor="let c of menu.categories">
        <ion-row>
          <ion-col>
            <h4>{{c.name}}</h4>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let m of c.items" align-items-start>
          <ion-col col-2>
            <img [src]="m.photoUrl">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <p class="item-name" text-wrap>{{m.name}}</p>
                <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
                <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
                <p *ngIf="m.avoid!=null && m.avoid" class="item-detail">Avoid: {{m.avoidReason}}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <button *ngIf="totalHitsCount>topHitCount" ion-button color="primary" (click)="switchExpandedView()" clear small icon-start>
      {{expandViewTitle}} ({{totalHitsCount}})
    </button>


    <!--

    <div *ngIf="!expandedView">
      <div *ngFor="let c of menu.categories">
        <ion-row>
          <ion-col>
            <h4>{{c.name}}</h4>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let m of c.items">
          <ion-col col-2>
            <img [src]="m.photoUrl">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <p class="item-name" text-wrap>{{m.name}}</p>
                <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
                <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>


      <ion-row *ngFor="let m of topHits">
        <ion-col col-2>
          <img [src]="m.photoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="item-name" text-wrap>{{m.name}}</p>
              <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
              <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-item *ngFor="let m of topHits">
          <p class="item-name" text-wrap>{{m.name}}</p>
          <p class="item-description" text-wrap>{{m.description}}</p>
          <p class="item-detail">{{m.calories}} calories</p>
      </ion-item>
    </div>


    <div *ngIf="expandedView">
      <div *ngFor="let c of menu.categories">
        <ion-row>
          <ion-col>
            <h4>{{c.name}}</h4>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let m of c.items">
          <ion-col col-2>
            <img [src]="m.photoUrl">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <p class="item-name" text-wrap>{{m.name}}</p>
                <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
                <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngFor="let m of menu.items">
        <ion-col col-2>
          <img [src]="m.photoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="item-name" text-wrap>{{m.name}}</p>
              <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
              <p *ngIf="m.calories!=null" class="item-detail">{{m.calories}} calories</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

  -->

  </ion-card-content>
</ion-card>
