
<ion-card>
  <ion-card-header (click)="navigateToLocationMenu()">
    {{menu.location.name}}
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="!expandedView">
      <ion-item *ngFor="let m of topHits">
          <p class="item-name" text-wrap>{{m.name}}</p>
          <p class="item-description" text-wrap>{{m.description}}</p>
          <p class="item-detail">{{m.calories}} calories</p>
      </ion-item>
    </div>

    <div *ngIf="expandedView">
      <ion-item *ngFor="let m of menu.items">
          <p class="item-name" text-wrap>{{m.name}}</p>
          <p class="item-description" text-wrap>{{m.description}}</p>
          <p class="item-detail">{{m.calories}} calories</p>
      </ion-item>
    </div>

    <button *ngIf="menu.items.length>topHitCount" ion-button color="primary" (click)="switchExpandedView()" clear small icon-start>
      {{expandViewTitle}} ({{menu.items.length}})
    </button>

  </ion-card-content>
</ion-card>
