
<ion-header>

  <ion-toolbar>
    <ion-title>Analyze</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="takeAndDisplayImage()">
        <ion-icon large name="camera"></ion-icon>
      </button>

      <button ion-button icon-only (click)="testVisionApi()">
        <ion-icon large name="restaurant"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content padding>
  <div *ngIf="analysis!=null">
    <h3>{{analysis.description.captions[0].text}}</h3>

    <ion-row *ngFor="let r of analysis.categories">
      <ion-col>
        {{r.name}}
      </ion-col>
      <ion-col>
        {{r.score}}
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let t of analysis.tags">
      <ion-col>
        {{t.name}}
      </ion-col>
      <ion-col>
        {{t.confidence}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Tags
      </ion-col>
      <ion-col>
        <p [innerHtml]="formatTags(analysis.description.tags)"></p>
      </ion-col>
    </ion-row>
  </div>

  <img [src]="base64Image" *ngIf="base64Image!=null" />

  <p [innerHtml]="toJSONString(analysis)" class='item-analysis' *ngIf="analysis!=null">

  </p>
</ion-content>
