
<ion-header>

  <ion-toolbar>
    <ion-title>Analyze</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="takeAndDisplayImage()">
        <ion-icon large name="camera"></ion-icon>
      </button>

      <button ion-button icon-only (click)="testVisionApi()">
        <ion-icon large name="restaurant"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content padding>
  <div *ngIf="analysis==null" text-center>
    Click on the  <ion-icon name="camera"></ion-icon> camera icon to capture an image
    and start the analysis
  </div>

  <div *ngIf="analysis!=null">
    <h4>{{analysis.description.captions[0].text}}</h4>

    <ion-row *ngFor="let r of analysis.categories">
      <ion-col>
        {{r.name}}:
      </ion-col>
      <ion-col col-8>
        {{formatPercentage(r.score)}}
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let t of analysis.tags">
      <ion-col>
        {{t.name}}:
      </ion-col>
      <ion-col col-8>
        {{formatPercentage(t.confidence)}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        tags:
      </ion-col>
      <ion-col col-8>
        {{formatTags(analysis.description.tags)}}
      </ion-col>
    </ion-row>
  </div>

  <img [src]="base64Image" *ngIf="base64Image!=null" />

  <pre [innerHtml]="toJSONString(analysis)" *ngIf="analysis!=null">

  </pre>
</ion-content>
