
<ion-header (click)="content.scrollTo(0,0);">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon large name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title *ngIf="location!=null">{{location.name}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showAllItems = !showAllItems">
        <ion-icon large [name]="showAllItems ? 'leaf-outline' : 'leaf'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="location-card" *ngIf="location!=null">
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-5>
          <img [src]="location.logoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col text-wrap>
              <span class="loc-title">{{location.name}}</span><br>
              <span class="loc-details" *ngIf="location.foodTypes!=null">{{concatStrArray(location.foodTypes)}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="loc-details" text-wrap>
              <p *ngIf="location.description!=null" [innerHtml]="location.description"></p>
              {{location.street}}, {{location.city}} ({{formatDistance(location.distance)}})

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="lookupAddress()"
    (search)="searchEntered($event)"
    placeholder='Search menu items'>
  </ion-searchbar>

  <ion-grid *ngIf="menu!=null" fixed>
    <div *ngFor="let c of menu.categories">
      <ion-row *ngIf="c.name!=null">
        <ion-col>
          <h4>{{c.name}}</h4>
        </ion-col>
      </ion-row>

      <div *ngFor="let m of c.items">
        <ion-row *ngIf="m.isEatAble || showAllItems" no-padding align-items-start no-padding>
          <ion-col>
              <ion-icon style="padding-top:2px;padding-left:2px;" small [name]="m.isEatAble ? 'leaf' : 'menu'"></ion-icon>
          </ion-col>

          <ion-col col-11 align-items-start class="menu-item">
            <span class="item-name">{{m.name}}</span>
            <br/>
            <span text-wrap class="item-detail">
              calories: {{m.calories}},
              sodium: {{m.sodium}},
              carbs: {{m.total_carbohydrate}},
              fat: {{m.total_fat}}g,
              <br/>
              sugars: {{m.sugars}}g,
              protein: {{m.protein}}
            </span>
          </ion-col>

        </ion-row>
      </div>

    </div>
  </ion-grid>
</ion-content>
