
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="location!=null">{{location.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="location-card" *ngIf="location!=null">
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-5>
          <img [src]="location.logoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col text-wrap>
              <span class="loc-title">{{location.name}}</span><br>
              <span class="loc-details" *ngIf="location.foodTypes!=null">{{concatStrArray(location.foodTypes)}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="loc-details" text-wrap>
              <p *ngIf="location.description!=null" [innerHtml]="location.description"></p>
              {{location.street}}, {{location.city}} ({{formatDistance(location.distance)}})

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-grid *ngIf="menu!=null" fixed>
    <div *ngFor="let c of menu.categories">
      <ion-row *ngIf="c.name!=null">
        <ion-col>
          <h4>{{c.name}}</h4>
        </ion-col>
      </ion-row>

      <!--
      <ion-row *ngFor="let m of c.items" align-items-start>
        <ion-col col-2>
          <img [src]="m.photoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="item-name" text-wrap>{{m.name}}</p>
              <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
              <p *ngIf="m.calories!=null" class="item-detail">
                calories: {{m.calories}},
                sodium: {{m.sodium}},
                carbs: {{m.total_carbohydrate}},
                fat: {{m.total_fat}},
                sugars: {{m.sugars}},
                protein: {{m.protein}}
              </p>
              <p *ngIf="m.avoid!=null && m.avoid" class="item-detail">Avoid: {{m.avoidReason}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    -->

    <ion-row *ngFor="let m of c.items" no-padding align-items-start no-padding>
      <ion-col>
          <ion-icon style="padding-top:2px;padding-left:2px;" small [name]="m.isEatAble ? 'leaf' : 'menu'"></ion-icon>
      </ion-col>

      <ion-col col-11 align-items-start class="menu-item">
        <span class="item-name">{{m.name}}</span>
        <br/>
        <span text-wrap class="item-detail">
          calories: {{m.calories}},
          sodium: {{m.sodium}},
          carbs: {{m.total_carbohydrate}},
          fat: {{m.total_fat}}g,
          <br/>
          sugars: {{m.sugars}}g,
          protein: {{m.protein}}
        </span>
      </ion-col>

    </ion-row>


    </div>
  </ion-grid>
</ion-content>
