recommended-food {

  .loc-title {
    font-size: 11pt;
    font-weight: bold;
    color: black;
    background-color: primary;
  }

  .loc-details {
    font-size: 8pt;
  }

  .item-name {
    //font-size: 10pt;
    color:black;
    width: 100%;
    background: white;
    padding: 0px;
    margin: 0px;
  }

  .item-description {
    font-size: 9pt;
    //color:black;
    width: 100%;
    background: white;
    padding: 0px;
    margin: 0px;
  }


  .item-detail {
    font-size: 8pt;
    width: 100%;
    background: white;
    //position: absolute;
  }
}
