<ion-grid>
  <ion-row>
    <ion-col>
      <h5>Recommended dishes for you:</h5>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let g of recommendations.items" align-items-start>
    <ion-col *ngIf="g.menuItems!=null">
      <span class="loc-title" (click)="startSearch(g.keywords)">{{g.title}}</span>

      <!-- preview list -->
      <ion-row *ngFor="let m of g.menuItems" align-items-start>
        <ion-col col-2>
          <img [src]="m.photoUrl">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="item-name" text-wrap>{{m.name}}</p>
              <p *ngIf="m.description!=null" class="item-description" text-wrap>{{m.description}}</p>
              <p *ngIf="m.calories!=null" class="item-detail">
                calories: {{m.calories}},
                sodium: {{m.sodium}},
                carbs: {{m.total_carbohydrate}},
                fat: {{m.total_fat}},
                sugars: {{m.sugars}}
              </p>
              <p *ngIf="m.avoid!=null && m.avoid" class="item-detail">Avoid: {{m.avoidReason}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>

      </ion-row>

        <!--
        <ion-col col-4 *ngFor="let r of g.menuItems" (click)="navigateToRecipe(r)" align-items-start>
          <img [src]="r.image">
        </ion-col>
      -->
    </ion-col>
  </ion-row>
</ion-grid>
