
<ion-header>

  <ion-navbar>
    <button *ngIf="canEditTeam && !inEditMode" ion-button icon-only (click)="inEditMode=true">
      Edit
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="searchAddress"
    (ion-input)="doLocationMenuSearch($event)"
    (ionClear)="searchCleared()"
    placeholder='Try "San Francisco or PHL or JFK"'>
  </ion-searchbar>

  <ion-item (click)="nearbySelected()" class='item-address'>
    <ion-icon color="primary" name="navigate" item-start></ion-icon>
    Near By
  </ion-item>

  <div *ngIf="profile!=null">
    <ion-item no-lines *ngFor="let a of profile.recentAddressList" (click)="addressSelected(a)">
      <ion-icon name="locate" color="primary" item-start></ion-icon>
      <p class='item-address' text-wrap>{{a}}</p>

      <button item-end ion-button icon-only (click)="removeRecentAddress(a)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-item>
  </div>

  <button ion-button colors="primary" (click)="searchClicked()">
    Search
  </button>
  <button ion-button colors="primary" (click)="cancelClicked()">
    Cancel
  </button>

</ion-content>
