
<ion-header>
    <ion-toolbar>
      <ion-title>Select a Location</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="cancelClicked()">
          <ion-icon large name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <div class="autocomplete">

    <ion-searchbar
      (ionFocus)="editingAddress=true"
      [(ngModel)]="searchAddress"
      (ionInput)="lookupAddress()"
      (search)="searchEntered($event)"
      placeholder='Try "San Francisco or PHL or JFK"'>
    </ion-searchbar>
    <ion-list *ngIf="editingAddress">
  		<ion-item *ngFor="let a of suggestedAddress" (click)="searchAddress=a; searchClicked()">
  			{{a}}
  		</ion-item>
  	</ion-list>
  </div>

  <ion-item (click)="nearbySelected()" class='item-address'>
    <ion-icon color="primary" name="navigate-outline" item-start></ion-icon>
    Near By
  </ion-item>

  <div *ngIf="profile!=null && profile.recentAddressList!=null">
    <ion-item no-lines *ngFor="let a of profile.recentAddressList">
      <ion-icon name="locate-outline"  color="primary" item-start></ion-icon>
      <p (click)="addressSelected(a)" class='item-address' text-wrap>{{a}}</p>

      <button item-end ion-button icon-only clear (click)="removeRecentAddress(a)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </ion-item>
  </div>

  <!--
  <ion-row>
    <ion-col>
      <button ion-button class="button" colors="primary" round outline (click)="searchClicked()">
        Search
      </button>
      <button ion-button class="button" colors="primary" round outline (click)="cancelClicked()">
        Cancel
      </button>
    </ion-col>
  </ion-row>
-->

</ion-content>
