<!--
  Generated template for the AddressPickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button *ngIf="canEditTeam && !inEditMode" ion-button icon-only (click)="inEditMode=true">
      Edit
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="searchAddress"
    (ion-input)="doLocationMenuSearch($event)"
    (ionClear)="searchCleared()"
    placeholder='Try "San Francisco"'>
  </ion-searchbar>

  <ion-item (click)="nearbySelected()" class='item-address'>
    <ion-icon name="locate" item-start></ion-icon>
    Near By
  </ion-item>

  <ion-item *ngFor="let a of recentAddressList" class='item-address' (click)="addressSelected(a)">
    <ion-icon name="navigate" item-start></ion-icon>
      {{a}}
  </ion-item>

  <button ion-button colors="primary" (click)="searchClicked()">
    Search
  </button>
  <button ion-button colors="primary" (click)="cancelClicked()">
    Cancel
  </button>

</ion-content>
